<!-- navigation bar-->

<header class="navigation">
    <div class="navigation_container">
        <nav>
            <div class="home_icon">
                <h1><a href="/home">Prasiddha Khadka</a></h1>
            </div>
            <ul class="nav_links">
                <li class=" <%= page=='Home' ? 'active' : '' %>"><a href="/home">Home</a></li>
                <li class=" <%= page=='Projects' ? ' active' : '' %>"><a href="/projects">Projects</a></li>
                <li class=" <%= page=='Services' ? 'active' : '' %>"><a href="/services">Services</a></li>
                <li class=" <%= page=='About Me' ? ' active' : '' %>"><a href="/about-me">About Me</a></li>
                <li class=" <%= page=='Contact Me' ? 'active' : '' %>"><a href="/contact-me">Contact Me</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </div>
</header>